CREATE USER 'ansible_admin'@'%' IDENTIFIED BY '{{ ansible_pass }}';
GRANT ALL PRIVILEGES ON *.* TO 'ansible_admin'@'%' WITH GRANT OPTION;

CREATE USER '{{ wp_db_user }}'@'%' IDENTIFIED BY '{{ wp_db_password }}';
GRANT ALL PRIVILEGES ON {{ wp_db_name }}.* TO '{{ wp_db_user }}'@'%';

FLUSH PRIVILEGES;