version: '3.8'

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus_monitor
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
    networks:
      - shared_monitoring_network
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana_monitor
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - shared_monitoring_network
    restart: unless-stopped

  node_exporter:
    image: quay.io/prometheus/node-exporter:latest
    container_name: node_exporter_monitor
    command:
      - '--path.rootfs=/host'
    network_mode: host
    pid: host
    volumes:
      - /:/host:ro,rslave
    restart: unless-stopped

  mysqld_exporter:
    image: prom/mysqld-exporter:latest
    container_name: mysqld_exporter_monitor
    ports:
      - "9104:9104"
    environment:
      DATA_SOURCE_NAME: "replicator:{{ replication_password }}@(mysql_master:3306)/"
    networks:
      - shared_monitoring_network
    restart: unless-stopped

volumes:
  prometheus_data:
  grafana_data:

networks:
  shared_monitoring_network:
    name: wp_network
    external: true