version: '3.8'

services:
  wordpress:
    image: wordpress:6.4
    container_name: wp_app
    ports:
      - "80:80"
    volumes:
      - wordpress_data:/var/www/html
    environment:
      WORDPRESS_DB_HOST: mysql_master
      WORDPRESS_DB_USER: "{{ wp_db_user }}"
      WORDPRESS_DB_PASSWORD: "{{ wp_db_password }}"
      WORDPRESS_DB_NAME: "{{ wp_db_name }}"
    networks:
      - wp_network

  mysql_master:
    container_name: mysql_master
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
      MYSQL_DATABASE: "{{ wp_db_name }}"
      MYSQL_USER: "{{ wp_db_user }}"
      MYSQL_PASSWORD: "{{ wp_db_password }}"
    volumes:
      - mysql_master_data:/var/lib/mysql
      - ./config/master.cnf:/etc/mysql/conf.d/config.cnf
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-uroot", "-p$$MYSQL_ROOT_PASSWORD"]
      interval: 5s
      timeout: 3s
      retries: 10
    restart: unless-stopped
    networks:
      - wp_network

  mysql_replica:
    image: mysql:5.7
    container_name: mysql_replica
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
    volumes:
      - mysql_replica_data:/var/lib/mysql
      - ./config/replica.cnf:/etc/mysql/conf.d/replica_config.cnf.cnf
    networks:
      - wp_network

volumes:
  wordpress_data:
  mysql_master_data:
  mysql_replica_data:

networks:
  wp_network: